* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

header {
    font-size: 2rem;
}

.container {
    margin-top: 2.5rem;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

.result-container {
    margin-top: 0.7rem;
    height: 7vh;
    font-size: 2rem;
    font-weight: 700;
}

#reset-btn {
    margin-top: 0.7rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

.hide {
    display: none;
}